<nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
    <div class="container-fluid">

        <div class="navbar-header">

            <button type="button" class="navbar-expand-toggle"
                    ng-class="{'fa-rotate-90': sideMenuExpanded}" ng-click="sideMenuExpanded = !sideMenuExpanded">
                <i class="fa fa-bars icon"></i>
            </button>

            <ol class="breadcrumb navbar-breadcrumb">
                <li>{{title}}</li>
            </ol>

            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs"
                    ng-class="{'fa-rotate-90': headerExpanded}" ng-click="toggleHeader()">
                <i class="fa fa-th icon"></i>
            </button>

        </div>

        <ul class="nav navbar-nav navbar-right" ng-class="{expanded: headerExpanded}">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs"
                    ng-class="{'fa-rotate-90': headerExpanded}" ng-click="toggleHeader()">
                <i class="fa fa-times icon"></i>
            </button>

            <li class="dropdown" ng-show="isAuthenticated()">

                <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
                    <span>
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm">
                            Account
                        </span>
                        <b class="caret"></b>
                    </span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="logout()">
                            <span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Sign out</span>
                        </a>
                    </li>
                </ul>

            </li>
        </ul>

    </div>
</nav>
