<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">

            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/">
                    <div class="fa fa-ra icon"></div>
                    <div class="title"><strong>Tread</strong>Course</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a ng-href="#/">
                        <span class="icon fa fa-tachometer"></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li ng-show="isAuthenticated()">
                    <a ng-href="#/about">
                        <span class="icon glyphicon glyphicon-th-list"></span>
                        <span class="title">About</span>
                    </a>
                </li>
                <li ng-show="isAuthenticated()">
                    <a ng-href="#/courses">
                        <span class="icon glyphicon glyphicon-list-alt"></span>
                        <span class="title">Courses</span>
                    </a>
                </li>
                <li ng-show="isAuthenticated()">
                    <a ng-href="#/docs">
                        <span class="icon glyphicon glyphicon-book"></span>
                        <span class="title">Docs</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
